/*---------Fonts---------*/

 @font-face {
	font-family:'museo';
	src: url('../fonts/museo700-regular.eot');
	src: url('../fonts/museo700-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museo700-regular.woff') format('woff'),
	url('../fonts/museo700-regular.ttf') format('truetype'),
	url('../fonts/museo700-regular.svg#museo_700regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*---------Reset---------*/

*{
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	text-decoration: none;
}

/*---------General---------*/

.o-wrapper{
	font-family: museo;

	position: relative;
	width: 800px;
	height: 500px;
	position: relative;
	margin: 30px auto;
}

.o-slideshow{ position: relative; }

.o-wrapper-container{
	position: absolute;
	width: 100%;
	height: 500px;
	color: #333;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background-image: url(../img/fondo.png);
  background-size: 100%;
}



.o-navbar-btn{
	position: absolute;
	z-index: 10;
	width: 100%;
	bottom: 0;
  text-align: center;
  border-bottom: 12px solid #667BBB;
}


/*---------Utilities---------*/

.u-nav-btn{
  background: transparent;
  display: inline-block;
	height: 36px;
	width: 36px;
  margin: 10px;
	text-align: center;
	cursor: pointer;
}

.u-nav-btn:focus{ outline: none; }


.u-img-select:focus{
	outline: none;
}

/*----------Animation----------*/

.u-transition{
	-moz-transition:all ease-in-out .15s;
	-webkit-transition:all ease-in-out .15s;
	-o-transition:all ease-in-out .15s;
	transition:all ease-in-out .15s;
}

.u-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.u-animated.u-animated-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/*--------- Generals ---------*/
.u-pos{
  position: absolute;
}

.u-dialog{
  width: 260px;
  background:#fff;
  border: 2px solid #000000;
  padding:20px;
  border-radius: .4em;
  position: absolute;
}

.u-dialog.u-dialog-left:after{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 36px solid transparent;
	border-right-color: #000;
	border-left: 0;
	border-bottom: 0;
	margin-top: -18px;
	margin-left: -36px;
}

.u-dialog.u-dialog-right:after{
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 36px solid transparent;
	border-left-color: #000;
	border-right: 0;
	border-bottom: 0;
	margin-top: -18px;
	margin-right: -36px;
}

.u-dialog .text{
  text-align: center;
}


.u-evaluation{
  width: 360px; height: 440px;
  position: absolute;
  right: 10px;
  top: 20px;
  bottom: 50px;
  background-image: url(../img/fondo-hoja.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 10px 10px 0;
  overflow-y: auto;
}
.u-evaluation .u-title{
  margin-top: 40px; text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  padding: 30px 20px 10px 20px;
  text-transform: uppercase;
}

.u-evaluation .u-options div{
  padding: 5px;
  background: #F7F6F5;
  border: 2px solid #F2EFEC;
  border-radius: 3px;
  font-size: 0.8em;
  margin: 10px 20px;
}
.u-evaluation .u-options div span{
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #F2EFEC;
  font-size: 0.9em;
}

.u-evaluation .u-options .answer{
  -moz-transition:all ease-in-out .15s;
	-webkit-transition:all ease-in-out .15s;
	-o-transition:all ease-in-out .15s;
	transition:all ease-in-out .15s;
  cursor: pointer;
}
.u-evaluation .u-options .answer:hover{
  -moz-transition:all ease-in-out .15s;
	-webkit-transition:all ease-in-out .15s;
	-o-transition:all ease-in-out .15s;
	transition:all ease-in-out .15s;
  cursor: pointer;
  border-color: #D7C4A3;
  background: #F6F2E9;
}

.u-evaluation .u-options .u-clicked{
  border-color: #D7C4A3;
  background: #F6F2E9;
}

.u-feedback{
  display: none;
  position: absolute;
  z-index: 2;
  background: #000;
  position: absolute;
  left: -100px;
  bottom: 60px; right: 10px;
  z-index: 2;
  background: #fff;
	border-left: 2px solid #8DCFA4;
  border-right: 2px solid #8DCFA4;
  padding: 5px 20px;
  font-size: 0.8em;
}
.u-feedback .u-feedscroll{
  overflow-y: auto;
  height: 100%;
}

.u-feedback .result div{ display: none; }
.u-feedback p{
	margin: 10px 0;
}



.btn{
  	cursor: pointer;
}


.u-btns{
	font-size: 0.8em;
}

.u-btns .u-remember{
  position: absolute;
  right: 8px; bottom: 6px;
}


.modal{
  display: none;
  position: absolute;
  left: 10%; top: 10%; right: 10%; bottom: 80px;
  background: rgba(237, 222, 194, 0.95);
  z-index: 9;
  padding: 80px;
  font-size: 1.4em;
  text-align: center;
}
.modal:after, .modal:before{
  content:""; display: block; width: 56px; height: 56px;
  background-image: url(../img/comillas.png);
  position: absolute;
  z-index: -1;
}
.modal:before{ left: 10%; top: 20%; }
.modal:after{background-position: right; right: 10%; bottom: 20%; }
.modal p {
  padding: 20px;
}
.modal .close{
  position: absolute;
  top: -10px; right: -10px;
  width: 30px; height: 30px;
  background:#8DCFA4;
  color:#fff;
  border-radius: 50%;
  line-height: 1.4;
  font-size: 20px;
}
.modal .close:hover{
  background: #fff; color:#8DCFA4;
  cursor: pointer;
}



.btn-pulse{
	animation-name: pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.u-remember .btn.active:after{
  content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #000;
	border-top: 0;
	margin-left: -10px;
	margin-top: -10px;
}

.u-remember .content{
	display: none;
	position: absolute;
	top: 5%; left: 5%;
	bottom: 5%; right: 5%;
	background: #000;
	border: 2px solid #fff;
  color:#fff;
	padding: 10px;
}


.u-premisa{
  margin: 40px 0 0 0;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  font-size: 0.9em;
  color:#000;

}
.u-premisa div{
  margin: 10px 0;
  text-align: left;
}
.u-premisa div span:first-child{
  display: inline-block;
  border-bottom: 2px solid #667BBB;
  text-transform: none;
  padding: 4px 8px;
  position: relative;
}
.u-premisa div span:first-child:before, .u-premisa div span:first-child:after{
  content:""; display: block; width: 2px; height: 13px;
  background: #667BBB;
  display: inline-block;
  position: absolute; bottom: 0; left: 0;
}
.u-premisa div span:first-child:after{ left: auto; right: 0;}

.u-premisa div span:last-child{
  display: inline-block;
  font-size: 1.2em;
}
.u-premisa div span:last-child:before{
  content:""; width: 60px; height: 2px;
  background: #667BBB;
  display: inline-block;
  margin-bottom: 4px;
}


.u-complete{
	text-align: center;
	line-height: 1.6;
	font-size: 1.2em;
}
.u-complete .select{
  width: 40px;
	overflow: hidden;
	display: inline-block;
	background: #EEE;
	line-height: 0;
	margin-bottom: -6px;
  padding: 5px;
  background: #F6F2E9;
  border: 2px solid #D7C4A3;
  border-radius: 3px;
  font-size: 0.8em;
}

.u-complete select{
	background: #fff;
	border-radius: 0;
	background: transparent;
	width: 150px;
	font-size: 1em;
	cursor: pointer;
  font-family: Museo;
}
.u-complete select:focus{
  outline: none;

}

.u-complete .btn{
  display: block;
  width: 80px;
  font-size: 0.9em;
  margin: 5px auto;
  padding: 2px 8px;
  background: #8DCFA4;

}

.tac{text-align: center;}
.u-note{
	margin: 60px 20px;
	color:#aaa;
  font-size: 0.9em;
}
.btn-next-inline{
  text-align: center;
}

/*---------Only Js classes---------*/

.js-wrapper-container{ position: absolute; display: none; }
.js-wrapper-container:first-child { display: block; }
